{% extends "base.html" %}

<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Kmetija</th><th>Vrsta</th><th>Kraj</th>
                <th>Regija</th><th>Telefon</th><th>Splet</th>
            </tr>
        </thead>
        <tbody>
        {% for k in kmetije %}
            {% set tel = k.telefonska_stevilka|string %}
            <tr>
                <td>{{ k.ime_kmetije }}</td>
                <td>{{ k.vrsta_kmetije }}</td>
                <td>{{ k.kraj }}</td>
                <td><a class="regija-link" href="{{ url_for('region', ime_regije=k.regija) }}">{{ k.regija }}</a></td>
                <td>{{ tel[:3] }} {{ tel[3:6] }} {{ tel[6:] }}</td>
                <td><a class="web-link" href="{{ k.spletna_stran }}" target="_blank" rel="noopener">Obišči</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
